@{
    ViewData["Title"] = "Home Page";   //title of the web page
}

<div class="text-center">
    <h1 class="display-12 bg-success">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
